body {
  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0px;
}

.body {
  background-color: white;
}

.header__photo {
  height: 15vw;
  width: 15vw;
  background-image: url(./assets/photo.jpg);
  background-position: center;
  border-radius: 100%;
  background-size: cover;
  border: 2px black solid;
  margin: 10px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.info__name {
  font-size: 4rem;
  color: #333;
  order: 0;
  width: 90%;
  text-align: left;
}

.info__github {
  order: 1;
  flex-grow: 1;
}

.info__github:hover {
  background-color: silver;
}

.info__vk {
  order: 2;
  flex-grow: 1;
}

.info__vk:hover {
  background-color: silver;
}

.info__telegram {
  order: 3;
  flex-grow: 1;
}

.info__telegram:hover {
  background-color: silver;
}

.info__vk,
.info__telegram,
.info__github {
  font-size: 2rem;
  text-decoration: none;
  border: 3px solid black;
  color: black;
  text-align: center;
  background-color: whitesmoke;
  margin: 5px;
}

/* Education */

.education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.education::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0px;
}

.collapsible {
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 45%;
  border: 3px solid black;

  outline: none;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapsible::after {
  position: relative;
  display: inline-block;
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background-image: url(./assets/arrow.svg);
  transform: rotate(90deg);
}

.active_collapsible,
.collapsible:hover {
  background-color: silver;
}

.active_collapsible {
  margin-bottom: 0px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.3);
  padding: 15px;
}

.place {
  width: 50%;
}

/* Carousel */

.carousel {
  top: 400px;
  position: relative;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);

}

.items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
  margin: 0 auto;

}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  margin: 30px 20%;
  font-size: 32px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #333;
}

/* .project-params {
  width: 75%;
  text-align: left;
} */

.project-name {
  padding: 10px;
  color: black;
}

.project-link {
  text-decoration: none;
  color: black;
  border: black 2px solid;
  background-color: whitesmoke;
  width: 90%;
}

.project-link:hover {
  background-color: silver;
}

.project {
  width: 90%;
  height: 500px;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}



.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 30%;
  height: 200px;
  width: 200px;
  background-image: url(./assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.arrow.left {
  transform: scale(-1, 1)
}

.arrow.right {
  right: 50%;
}

.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@media (max-width: 960px) {
  .description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .control>.arrow {
    display: none;
  }

  .project-name {
    display: none;
  }

  .description {
    border: 0;
  }
}

/* swticher */

.active_project {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
}